@require '../config/icons';

// (╯°□°）╯︵ ┻━┻ - Y U MAKE ME REMEMBER CHARCODES?!

// Just some variables for the icon-font
font-name = 'switchboard';
root-url = '/assets/fonts/';

// Dynamically build the icon font path, and import these guys!
@font-face {
  font-family: font-name;
  src:  url(s('%s%s.eot', unquote(root-url), unquote(font-name)));
  src:  url(s("%s%s.eot?#iefix", unquote(root-url), unquote(font-name))) format("embedded-opentype"),
        url(s("%s%s.ttf", unquote(root-url), unquote(font-name))) format("truetype"),
        url(s("%s%s.woff", unquote(root-url), unquote(font-name))) format("woff"),
        url(s("%s%s.svg#%s", unquote(root-url), unquote(font-name), unquote(font-name))) format("svg");
  font-weight: normal;
  font-style: normal;
}

// Adds the specified icon to the specified pseudo class
inline-icon(icon = '', color = inherit, pseudo = before, font-size = nil, margin = 0) {
  &:{pseudo} {
    display: inline-block;
    icon: icon;
    if font-size { font-size: font-size; }
    color: color;
    margin: margin;
  }
}

// Returns the character code for the requested icon
// aka, it abstracts the get-list-value method, so you don't have to
icon(name) {
  char-code = icons[name];
  @extend $icon-font-base;
  content: char-code;
}

// It's always nice to have a base style for your icon font
$icon-font-base {
  display: inline-block;
  font-family: font-name;
  speak: none;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// All icon classes should extend the icon-font module
[class*="icon-"]:before {
  @extend $icon-font-base;
  &:active { text-decoration: none; }
}

// Creates an .icon- class for every icon in the $icons list

for name, code in icons {
  .icon-{name}:before {
    content: code;
  }
}



// ┬──┬◡ﾉ(° -°ﾉ) - oh sorry, I feel better now. let me put your table back.


