
black = #303038;
white = #fff;
grey = #a8a8a8;
light-grey = rgba(grey, .3);

rust = #ffa988;
indigo = #222227;
greyindigo = #525260;
orange = #ffa27e;
purple = #40404b;
green = #91cc74;
coralred = rgba(243, 86, 86, 0.99);

