icons = {
  heart: "\e600",
  cloud: "\e601",
  star: "\e602",
  tv: "\e603",
  user: "\e604",
  tag: "\e605",
  eye: "\e606",
  bubble: "\e607",
  like: "\e608",
  clock: "\e609",
  lab: "\e60a",
  pen: "\e60b"
}

