
* { box-sizing: border-box; }

::selection {
  color: white;
  background: coralred;
}

body {
  color: grey;
  background: black;
  font-family: body-font;
}

.avatar {
  background: rgba(white, .05);
  border-radius: 1000px;
  float: left;
  margin-top: 4px;
  margin-right: 10px;
  overflow: hidden;
  width: 36px;
  height: 36px;
  img { width: 100%; }
}



#main {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
}


.primary-wrapper {
  position: absolute;
  overflow: hidden;
  top: 50px;
  left: 0;
  bottom: 50px;
  right: 0;
}

#modal {
  transition: bottom 0s ease-in-out .4s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 1000;

  .overlay {
    transition: background .4s ease-in-out;
    pointer-events: none;
    position: absolute;
    background: rgba(coralred, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .panel {
    transition: top .4s ease-in-out;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    top: -300px;
  }

  &.open {
    bottom: 0;
    .overlay {
      background: rgba(purple, .9);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .panel {
      display: block;
      top: 50%;
    }
  }

  input[type=text] {
    text-align: center;
    width: 100%;
    height: 60px;
    margin-bottom: 4px;
    padding: 0 15px;
  }

  button {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }

}
