
* { box-sizing: border-box; }

::selection {
  color: white;
  background: coralred;
}

body {
  color: grey;
  background: black;
  font-family: body-font;
}

#topbar {
  width: 100%;
  top: 60px;
  height: 60px;
  color: greyindigo;
  background-color: indigo;
}

#logo {
  background-color: coralred;
  color: white;
  width: 155px;
  height: 60px;
  padding: 0 45px;
}

#sidebar {
  padding: 70px 0;
  position: fixed;
  float: right;
  width:  240px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: purple;
}

#sidebar ul {
  list-style-type: none;
}

#chat {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 60px;
  padding: 80px 30px 30px 30px;

  #chat-messages {
    list-style-type: none;
    padding-left: 0;
    width: 80%;
  }

  .time {
    color: rgba(white, .3);
    margin-right: 10px;
  }
  .nickname { color: coralred; }
  .message { word-wrap: break-word; }
}

input[type=text] {
  transition: box-shadow .1s ease-in-out,
              border .1s ease-in-out;
  font-family: body-font;
  background: white;
  border: 0px solid coralred;
  box-shadow: inset 0 0 0 light-grey;
  outline: none;

  &:hover {
    outline: none;
    box-shadow: inset 0 6px 0 light-grey;
  }

  &:focus {
    border-top: 6px solid coralred;
    box-shadow: inset 0 0 0 transparent;
  }
}

button {
  transition: background .2s ease-out,
              color .2s ease-out,
              box-shadow .1s  ease-in-out;
  background: black;
  box-shadow: inset 0 0 0 white;
  cursor: pointer;
  border: none;
  color: white;
  font-family: "Source Sans Pro";
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  padding: 8px 10px 10px;
  margin: 0 0 20px;

  &:hover {
    box-shadow: inset 0 -6px 0 coralred;
    background: black
    color: coralred;
  }
}

#input {
  background: #fff url(/.generated/img/input.png) no-repeat right;
  position: fixed;
  display: block;
  padding: 0 30px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
}

#modal {
  transition: bottom 0s ease-in-out .4s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: 1000;

  .overlay {
    transition: background .4s ease-in-out;
    pointer-events: none;
    position: absolute;
    background: rgba(coralred, 0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .panel {
    transition: top .4s ease-in-out;
    position: absolute;
    width: 300px;
    left: 50%;
    margin-top: -75px;
    margin-left: -150px;
    top: -300px;
  }

  &.open {
    bottom: 0;
    .overlay {
      background: rgba(purple, .9);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .panel {
      display: block;
      top: 50%;
    }
  }

  .nickname {
    text-align: center;
    width: 100%;
    height: 60px;
    margin-bottom: 4px;
    padding: 0 15px;
  }

  button {
    text-align: center;
    width: 100%;
    margin-bottom: 0;
  }

}
