sidebar-width = 240px;


#sidebar-members-button {
  transition: color .3s ease-in-out .2s,
              background .3s ease-in-out .2s,
              padding-left .3s ease-out .3s;
  background: purple;
  color: white;
  font-weight 700
  text-transform: uppercase;
  position: absolute;
  padding: 18px 0 0 55px;
  top: 0;
  right: 0;
  bottom: 0;
  width: sidebar-width;
  z-index: 11;
  cursor: default;

  &.open,
  &:hover {
    padding-left: 45px;
    text-align: left;
    transition: color .4s ease-in-out,
                background .4s ease-in-out,
                padding-left .3s ease-in-out;
    background: indigo;
    color: white;
  }
}

#sidebar-members {
  transition: right .3s ease-in-out .2s;
  background-color: purple;
  padding: 0;
  position: fixed;
  width:  sidebar-width;
  top: 60px;
  right: sidebar-width * -1;
  bottom: 60px;
  z-index: 9;
  overflow-y: scroll;

  &.open {
    transition: right .4s ease-in-out;
    right: 0;
  }

  > ul {
    list-style-type: none;
    margin-top: 0;
    padding-top: 30px;
    padding-left: 45px;

    li { }
  }
}
