.chat-tabs-wrapper {
  font-size: 0;
  padding: 0;
  left: 0;

  .tab {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    height: 60px;
    white-space: nowrap;

    a {
      display: block;
      color: greyindigo;
      font-weight: bold;
      text-decoration: none;
      margin: 0;
      height: 60px;
      padding: 18px 20px;

      &.active {
        background: black;
        color: white;
      }

      &:hover { background: rgba(greyindigo, .2); }
    }

    .notifications-count {
      display: none;
      &[data-count] { display: inline-block; }

      &:after {
        display: block;
        content: attr(data-count);
        border-radius: 1000px;
        box-shadow: 0 0 0 2px greyindigo;
        line-height: 18px;
        position: relative;
        text-align: center;
        width: 20px;
        height: 20px;
      }
    }
  }

  #new-channel {
    height: 60px;
    padding: 20px;
  }
}
